<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="TPA.Logging.Consumer" switchName="TPA.Logging.Consumer.Switch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="LogFile" />
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="TPA.Logging.Consumer.Switch" value="All" />
    </switches>
    <sharedListeners>
      <add name="LogFile" type="System.Diagnostics.DelimitedListTraceListener" initializeData="TPA.Logging.Consumer.log" traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All" />
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
</configuration>