Lecture/TestResults/
Lecture/Lecture/bin/
Lecture/Lecture/obj/
Lecture/Lesson2UnitTest/bin/
Lecture/Lesson2UnitTest/obj/
/DependencyInjection/DependencyInjection/bin
/DependencyInjection/DependencyInjection/obj
/DependencyInjection/DependencyInjectionConsoleApplication/bin
/DependencyInjection/DependencyInjectionConsoleApplication/obj
/DependencyInjection/DependencyInjectionUnitTest/bin
/DependencyInjection/DependencyInjectionUnitTest/obj
/DependencyInjection/TestResults
/MVVMExample/.vs
/MVVMExample/MVVMExample.UnitTest/bin
/MVVMExample/MVVMExample.UnitTest/obj
/MVVMExample/MVVMExample/obj
/MVVMExample/MVVMExample/bin
/MVVMExample/packages
/Lecture/.vs
