<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Specify class to handle plugins sections - type = "FullName, AssemblyName-->
  <configSections>
    <section name="plugins" type="TPA.Composition.Plugins.Handler.PluginSectionHandler, TPA.Composition" />
  </configSections>
  <!--List of plugins - type = "FullName, AssemblyName-->
  <plugins>
    <plugin type="TPA.Composition.Plugins.PluginsImplementations.Upper.UppercasePlugin, TPA.Composition" />
    <plugin type="TPA.Composition.Plugins.PluginsImplementations.Lower.LowercasePlugin, TPA.Composition" />
  </plugins>
</configuration>
